Repository googleapis/nodejs-storage, pull requests merged in 2021-03, with the labels that each got.

#1413 docs: add Storage initialization information to samples
  README.md
  samples/createBucketWithStorageClassAndLocation.js
  samples/createNewBucket.js
  samples/quickstart.js
Labels: api: storage, cla: yes, samples

#1417 test: fix flaky test should get metadata for an HMAC key
  samples/package.json
  samples/system-test/hmacKey.test.js
  system-test/storage.ts
Labels: api: storage, cla: yes

#1423 docs: Updated README
  README.md
  samples/README.md
  synth.metadata
Labels: api: storage, cla: yes, context: none

#1419 fix(perf): pull hashes without refreshing metadata
  src/file.ts
  test/file.ts
Labels: api: storage, cla: yes

#1426 fix: update CopyOptions type to include cacheControl, contentType and contentEncoding
  src/file.ts
  system-test/storage.ts
Labels: api: storage, cla: yes

#1432 docs: redirect EMULATOR_HOST users to apiEndpoint
  src/storage.ts
  test/index.ts
Labels: api: storage, cla: yes
