Repository googleapis/nodejs-storage, pull requests merged in 2021-06, with the labels that each got.

#1481 test: fix precondition test
  system-test/storage.ts
Labels: api: storage, cla: yes

#1483 test: changed makePrivate tests to read reason instead of message
  .github/.OwlBot.lock.yaml
  package.json
  system-test/storage.ts
  test/signer.ts
Labels: api: storage, cla: yes

#1487 docs: expose Iam in top level documentation
  src/iam.ts
Labels: api: storage, cla: yes

#1490 chore(nodejs): remove api-extractor dependencies
  package.json
Labels: api: storage, automerge, cla: yes

#1474 feat: customize retry behavior implementation
  src/storage.ts
  test/index.ts
Labels: api: storage, cla: yes

#1476 feat: implemented retry function
  src/storage.ts
  test/index.ts
Labels: api: storage, cla: yes

#1310 samples: Public access prevention samples and tests
  README.md
  samples/README.md
  samples/getPublicAccessPrevention.js
  samples/setPublicAccessPreventionEnforced.js
  samples/setPublicAccessPreventionUnspecified.js
  samples/system-test/buckets.test.js
  system-test/storage.ts
Labels: api: storage, cla: yes, samples
