Repository googleapis/nodejs-storage, pull requests merged in 2021-02, with the labels that each got.

#1388 fix: specified acceptable types for File.save data parameter
  src/file.ts
Labels: api: storage, cla: yes

#1394 chore: update CODEOWNERS config
  .repo-metadata.json
Labels: api: storage, cla: yes

#1396 docs: include destination in uploadFile.js sample
  samples/system-test/files.test.js
  samples/uploadFile.js
Labels: api: storage, cla: yes

#1397 chore: use repo metadata to populate nodejs CODEOWNERS
  .github/CODEOWNERS
  synth.metadata
Labels: api: storage, automerge, cla: yes, context: full

#1401 style: remove disrespectful terms
  system-test/storage.ts
Labels: api: storage, cla: yes

#1404 chore: update dependencies to support workload identity federation
  package.json
Labels: api: storage, cla: yes

#1391 fix: deprecate `options.promise` and sync options with Service
  src/storage.ts
  test/index.ts
Labels: api: storage, cla: yes

#1408 docs: Fix readability issue in sample comments
  samples/uploadFile.js
Labels: api: storage, cla: yes, samples

#1412 docs: Fix typo in docstring for delimiter sample
  samples/listFilesByPrefix.js
Labels: api: storage, cla: yes, samples

#1406 fix(types): support metadata override in file.copy()
  src/file.ts
  system-test/storage.ts
Labels: api: storage, cla: yes
