Repository googleapis/nodejs-storage, pull requests merged in 2021-12, with the labels that each got.

#1728 chore: create interfaces for conformance test API results
  conformance-test/retryStrategy.ts
Labels: cla: yes, api: storage

#1731 samples: added samples for upload from / download into memory
  README.md
  samples/README.md
  samples/downloadIntoMemory.js
  samples/system-test/files.test.js
  samples/uploadFromMemory.js
Labels: api: storage, samples

#1732 samples: download byte range
  README.md
  samples/README.md
  samples/downloadByteRange.js
  samples/system-test/files.test.js
  system-test/storage.ts
Labels: api: storage, samples

#1733 samples: Delete setPublicAccessPreventionUnspecified.js
  README.md
  samples/README.md
  samples/setPublicAccessPreventionUnspecified.js
Labels: api: storage
