Repository googleapis/nodejs-storage, pull requests merged in 2022-08, with the labels that each got.

#2014 fix(refactor): Add a call from file.delete to the parent class delete
  src/file.ts
Labels: api: storage, size: s

#2015 fix: fix noResponseRetries so it respects reqOpts.maxRetries
  conformance-test/conformanceCommon.ts
  conformance-test/test-data/retryStrategyTestData.json
  src/nodejs-common/util.ts
  src/storage.ts
Labels: api: storage, size: l

#2016 refactor(samples): Add more metadata to dual-region sample
  samples/createBucketWithDualRegion.js
  samples/system-test/buckets.test.js
Labels: api: storage, samples, size: s

#2017 chore: delete benchwarpper code
  bin/README.md
  bin/benchwrapper.js
  bin/storage.proto
Labels: api: storage, size: m

#2018 fix: pass appropriate preconditions from enableLogging to setMetadata
  src/bucket.ts
Labels: api: storage, size: xs

#2020 tests: remove callback waterfall from make bucket private system test
  system-test/storage.ts
Labels: api: storage, size: s

#2022 refactor(deps): remove stream-events dependency
  package.json
  src/file.ts
  src/util.ts
Labels: api: storage, size: m

#1993 feat: add functionality for passing preconditions at the function level
  conformance-test/conformanceCommon.ts
  conformance-test/libraryMethods.ts
  conformance-test/test-data/retryInvocationMap.json
  conformance-test/test-data/retryStrategyTestData.json
  src/acl.ts
  src/bucket.ts
  src/file.ts
  src/hmacKey.ts
  src/iam.ts
  src/nodejs-common/service-object.ts
  src/nodejs-common/util.ts
  src/storage.ts
  system-test/storage.ts
  test/bucket.ts
  test/file.ts
  test/hmacKey.ts
  test/iam.ts
Labels: api: storage, size: xl

#2027 refactor: change system tests to use await (pt2)
  system-test/storage.ts
Labels: api: storage, size: m

#2032 test: increase retry delay multiplier
  system-test/storage.ts
Labels: api: storage, size: xs

#2031 samples: update bucketMetadata
  samples/bucketMetadata.js
Labels: api: storage, samples, size: xs

#2035 test: added conformance testing scenario 7
  conformance-test/conformanceCommon.ts
  conformance-test/libraryMethods.ts
  conformance-test/scenarios/scenarioSeven.ts
  conformance-test/test-data/retryInvocationMap.json
  conformance-test/test-data/retryStrategyTestData.json
  conformance-test/testBenchUtil.ts
  src/resumable-upload.ts
  test/resumable-upload.ts
Labels: api: storage, size: m

#2029 fix: Remove `pumpify`
  package.json
  src/file.ts
  test/file.ts
Labels: api: storage, size: l

#2028 refactor: retryStrategyTestData.json
  conformance-test/test-data/retryStrategyTestData.json
Labels: api: storage, size: l

#2039 test: add retries
  system-test/storage.ts
Labels: api: storage, size: s

#2038 refactor(resumable-upload): remove unused `restart` private method
  src/resumable-upload.ts
  test/resumable-upload.ts
Labels: api: storage, size: m

#2040 fix: Retry `EPIPE` Connection Errors + Attempt Retries in Resumable Upload Connection Errors
  src/resumable-upload.ts
  src/storage.ts
  test/index.ts
  test/resumable-upload.ts
Labels: api: storage, size: m

#2043 test: add delay to bucket tests to reduce rate limiting errors
  system-test/storage.ts
Labels: api: storage, size: xs

#2047 samples: storage.objects.insert precondition samples
  CHANGELOG.md
  package.json
  samples/package.json
  samples/system-test/encryption.test.js
  samples/system-test/files.test.js
  samples/uploadEncryptedFile.js
  samples/uploadFile.js
  samples/uploadFileWithKmsKey.js
  samples/uploadWithoutAuthentication.js
  src/resumable-upload.ts
  src/storage.ts
  system-test/storage.ts
  test/index.ts
  test/resumable-upload.ts
Labels: api: storage, samples, size: m

#2048 Revert "samples: storage.objects.insert precondition samples"
  CHANGELOG.md
  package.json
  samples/package.json
  samples/system-test/encryption.test.js
  samples/system-test/files.test.js
  samples/uploadEncryptedFile.js
  samples/uploadFile.js
  samples/uploadFileWithKmsKey.js
  samples/uploadWithoutAuthentication.js
  src/resumable-upload.ts
  src/storage.ts
  system-test/storage.ts
  test/index.ts
  test/resumable-upload.ts
Labels: api: storage, samples, size: l

#2046 samples: add preconditions to storage.objects.rewrite, storage.objects.insert, storage.objects.patch, & storage.objects.delete samples
  samples/changeFileCSEKToCMEK.js
  samples/composeFile.js
  samples/copyFile.js
  samples/copyOldVersionOfFile.js
  samples/deleteFile.js
  samples/fileChangeStorageClass.js
  samples/fileSetMetadata.js
  samples/moveFile.js
  samples/releaseEventBasedHold.js
  samples/releaseTemporaryHold.js
  samples/rotateEncryptionKey.js
  samples/setEventBasedHold.js
  samples/setTemporaryHold.js
  samples/system-test/bucketLock.test.js
  samples/system-test/encryption.test.js
  samples/system-test/files.test.js
  samples/uploadEncryptedFile.js
  samples/uploadFile.js
  samples/uploadFileWithKmsKey.js
  samples/uploadWithoutAuthentication.js
Labels: api: storage, samples, size: l
