Repository googleapis/nodejs-storage, pull requests merged in 2022-10, with the labels that each got.

#2070 fix: correct STORAGE_EMULATOR_HOST handling (#2069, #1314)
  src/storage.ts
  test/index.ts
Labels: cla: yes, api: storage, size: s

#2087 Revert "fix: correct STORAGE_EMULATOR_HOST handling (#2069, #1314)"
  src/storage.ts
  test/index.ts
Labels: api: storage, size: s

#2095 feat(crc32c): Convenient Method For Reading Files
  src/crc32c.ts
  system-test/storage.ts
  test/crc32c.ts
Labels: api: storage, size: m

#2094 fix: remove async from final function which causes double invocation …
  src/file.ts
Labels: api: storage, size: xs
