Repository googleapis/nodejs-storage, pull requests merged in 2022-09, with the labels that each got.

#2056 fix: truncated `createReadStream` through early `end` event
  src/file.ts
  system-test/storage.ts
Labels: api: storage, size: s

#2062 feat: add multiple lifecycle rules
  src/bucket.ts
  test/bucket.ts
Labels: api: storage, size: m

#2068 samples: add contents variable to streamFileUpload sample
  samples/streamFileUpload.js
  samples/system-test/files.test.js
Labels: api: storage, samples, size: s

#2023 fix: revert skip validation
  src/file.ts
  test/file.ts
Labels: api: storage, size: m

#2074 fix: Determine `Content-Length` Before Attempting Multi-chunk Upload
  src/resumable-upload.ts
  system-test/storage.ts
  test/resumable-upload.ts
Labels: api: storage, size: m
