Repository googleapis/nodejs-storage, pull requests merged in 2022-06, with the labels that each got.

#1974 tests: add retry logic to ACL tests that rely on eventual consistency
  system-test/storage.ts
Labels: api: storage, size: s

#1854 docs: add AbortIncompleteMultipartUpload to docs for addLifecycleRule
  src/bucket.ts
Labels: api: storage, size: xs

#1847 feat: support OLM Prefix/Suffix
  src/bucket.ts
  system-test/storage.ts
Labels: api: storage, size: s

#1992 fix: explicitly import URL so that .d.ts file is correctly generated
  src/bucket.ts
  src/file.ts
Labels: api: storage, size: xs

#1995 fix: correctly handle an empty file in download function
  src/file.ts
  system-test/data/empty-file.txt
  system-test/storage.ts
  test/file.ts
Labels: api: storage, size: m
