Repository googleapis/nodejs-storage, pull requests merged in 2023-06, with the labels that each got.

#2206 feat: add support for matchGlob list option
  src/bucket.ts
  system-test/storage.ts
Labels: api: storage, size: s

#2213 test: cleanup kms tests to avoid setting incorrect keys
  system-test/storage.ts
Labels: api: storage, size: s

#2204 refactor!: Remove `extend` and Treat Provided Options as Mutable
  package.json
  src/bucket.ts
  src/file.ts
  src/nodejs-common/service-object.ts
  src/nodejs-common/service.ts
  src/nodejs-common/util.ts
  src/resumable-upload.ts
  src/transfer-manager.ts
  test/bucket.ts
  test/file.ts
  test/nodejs-common/service-object.ts
  test/nodejs-common/service.ts
  test/nodejs-common/util.ts
  test/transfer-manager.ts
Labels: api: storage, size: l

#2215 feat!: stronger typing for lifecycle rules
  conformance-test/libraryMethods.ts
  src/bucket.ts
  system-test/storage.ts
  test/bucket.ts
Labels: api: storage, size: m
