Repository googleapis/nodejs-storage, pull requests merged in 2023-08, with the labels that each got.

#2244 feat!: Make node 14 the minimum supported version
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .github/workflows/conformance-test.yaml
  .kokoro/continuous/node12/common.cfg
  .kokoro/continuous/node12/lint.cfg
  .kokoro/continuous/node12/samples-test.cfg
  .kokoro/continuous/node12/system-test.cfg
  .kokoro/continuous/node12/test.cfg
  .kokoro/presubmit/node12/common.cfg
  .kokoro/presubmit/node12/conformance-test.cfg
  .kokoro/presubmit/node12/samples-test.cfg
  .kokoro/presubmit/node12/system-test.cfg
  .kokoro/presubmit/node12/test.cfg
  conformance-test/libraryMethods.ts
  package.json
  samples/addBucketLabel.js
  samples/enableBucketLifecycleManagement.js
  samples/removeBucketLabel.js
  samples/system-test/bucketLifecycle.test.js
  src/acl.ts
  src/bucket.ts
  src/channel.ts
  src/file.ts
  src/hmacKey.ts
  src/iam.ts
  src/index.ts
  src/nodejs-common/index.ts
  src/nodejs-common/service-object.ts
  src/nodejs-common/service.ts
  src/nodejs-common/util.ts
  src/notification.ts
  src/resumable-upload.ts
  src/storage.ts
  src/transfer-manager.ts
  system-test/kitchen.ts
  system-test/storage.ts
  test/acl.ts
  test/bucket.ts
  test/channel.ts
  test/file.ts
  test/hmacKey.ts
  test/index.ts
  test/nodejs-common/service-object.ts
  test/nodejs-common/service.ts
  test/nodejs-common/util.ts
  test/notification.ts
  test/resumable-upload.ts
  test/transfer-manager.ts
  tsconfig.json
Labels: api: storage, size: xl

#2252 chore(deps): update gts to v5 and run linter
  .github/.OwlBot.lock.yaml
  package.json
  src/acl.ts
  system-test/storage.ts
  test/nodejs-common/service-object.ts
Labels: api: storage, size: m

#2255 test: remove console.log from kitchen.ts
  system-test/kitchen.ts
Labels: api: storage, size: xs

#2258 fix: export new types from index.ts
  src/index.ts
Labels: api: storage, size: xs

#2268 test: cleanup some notification tests to try and stop timeouts
  system-test/storage.ts
Labels: api: storage, size: m

#2203 feat: support iterables in file#save (#2202)
  src/file.ts
  test/file.ts
Labels: api: storage, size: l

#2270 Revert "feat: support iterables in file#save (#2202)"
  src/file.ts
  test/file.ts
Labels: api: storage, size: l

#2271 Revert "Revert "feat: support iterables in file#save (#2202)""
  src/file.ts
  test/file.ts
Labels: api: storage, size: l

#2279 test: add additional delay before deleting objects in rentention tests
  system-test/storage.ts
Labels: api: storage, size: s

#2286 chore: manually fix release notes for 7.0
  CHANGELOG.md
  system-test/storage.ts
  test/signer.ts
Labels: api: storage, size: s
