Repository googleapis/nodejs-storage, pull requests merged in 2024-03, with the labels that each got.

#2418 Fix commented value (missing quote)
  samples/uploadManyFilesWithTransferManager.js
Labels: api: storage, size: xs

#2414 test: improvements to requester pays tests and bucket metadata updates
  system-test/storage.ts
Labels: api: storage, size: m

#2422 fix: Cannot read properties of null (reading length) in stream-shift
  package.json
Labels: api: storage, size: xs

#2421 fix: do not automatically set overrideUnlockedRetention
  src/file.ts
  system-test/storage.ts
  test/file.ts
Labels: api: storage, size: s

#2413 feat: add includeFoldersAsPrefixes for managed folders
  src/bucket.ts
  system-test/storage.ts
  test/bucket.ts
Labels: api: storage, size: s

#2425 feat: add ability to configure and utilize soft-delete and restore
  src/bucket.ts
  src/file.ts
  system-test/storage.ts
  test/bucket.ts
  test/file.ts
Labels: api: storage, size: m
