Repository googleapis/nodejs-storage, pull requests merged in 2024-10, with the labels that each got.

#2538 feat: adds integration tests for Universe Domain configuration
  .kokoro/continuous/node14/system-test.cfg
  .kokoro/presubmit/node14/system-test.cfg
  .kokoro/release/publish.cfg
  .kokoro/system-test.sh
  system-test/storage.ts
Labels: api: storage, owlbot:ignore, size: m

#2543 chore: add owlbot ignores so it stops removing universe domain vars
  owlbot.py
Labels: api: storage, size: s

#2544 chore: remove unused issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: api: storage, size: m

#2547 docs: fix comment in transfer manager upload sample
  samples/uploadManyFilesWithTransferManager.js
Labels: api: storage, samples, size: xs

#2548 feat: add support for restore token
  src/file.ts
  system-test/storage.ts
  test/transfer-manager.ts
Labels: api: storage, size: m
