Repository googleapis/nodejs-storage, pull requests merged in 2024-05, with the labels that each got.

#2453 feat: add ability to enable hierarchical namespace on buckets
  src/bucket.ts
  src/storage.ts
  system-test/storage.ts
  test/index.ts
Labels: api: storage, size: m

#2451 chore(deps): replace ent with html-entities to avoid punycode depreca…
  package.json
  src/nodejs-common/util.ts
Labels: api: storage, size: xs

#2459 test: add 1s delay to bucket sample tests to avoid getting throttle e…
  package.json
  samples/system-test/buckets.test.js
Labels: api: storage, samples, size: xs

#2467 test: handle multiple possibilities in HNS tests
  system-test/storage.ts
Labels: api: storage, size: xs

#2468 fix: add missing projectIdentifier to GetServiceAccountOptions
  src/storage.ts
  test/index.ts
Labels: api: storage, size: xs

#2466 Fix: improve GetFilesResponse interface
  src/bucket.ts
Labels: api: storage, size: xs

#2457 test: increase timeout of delay in hmac get test
  system-test/storage.ts
Labels: api: storage, size: xs

#2199 fix: allow files in directories to be downloaded onto local machine
  src/file.ts
  src/transfer-manager.ts
  test/file.ts
  test/transfer-manager.ts
Labels: api: storage, size: m
